@model CustomerFeedbackSystem.Models.IssueTable
@{
    ViewData["Title"] = "表單發行-刪除";
    Layout = "_NoNavLayout";//套用無Nav的Layout
}

<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-search me-2"></i>@ViewData["Title"]</h4>

    <div class="pop">
        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.LabelFor(m => m.Name)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => m.Name)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.LabelFor(m => m.IssueDatetime)：</strong>
            </div>
            <div class="col-md-4">
                @Model.IssueDatetime?.ToString("yyyy-MM-dd")
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.LabelFor(m => m.OriginalDocNo)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => m.OriginalDocNo)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.LabelFor(m => m.DocVer)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => m.DocVer)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>下載文件：</strong>
            </div>
            <div class="col-md-10">
                <div class="input-group">
                    <input type="text" class="form-control" readonly value="@(Model.RealFileName)" />
                    <a class="btn btn-sm btn-primary" asp-controller="File" asp-action="GetFormFile" asp-route-OriginalDocNo="@Model.OriginalDocNo" asp-route-DocVer="@Model.DocVer">
                        取得
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center my-3">
            <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                <form id="myFormDetail" method="post" action="@Url.Action("DeleteConfirmed", "CIssueTables", new { DocNo = Model.OriginalDocNo, DocVer = Model.DocVer })" target="_top" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <button id="btn-delete" type="submit" class="btn2 btn-danger mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-trash-alt me-1"></i>&ensp;刪除表單
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(document).ready(function () {
            DeleteConfirmEventListener();// 刪除按鈕事件監聽
        });
    </script>
}