@model BioMedDocManager.Models.DocControlMaintable
@{
    ViewData["Title"] = "文件管制-註銷";
    Layout = "_NoNavLayout";//套用無Nav的Layout
}
<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>
    <form id="myFormDetail" method="post" action="@Url.Action("Cancel", "CDocumentManage", new { IdNo = Model.IdNo})" target="_top">
        @Html.AntiForgeryToken()
        <div class="pop">
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.DateTime)：</strong></div>
                <div class="col-md-4">@Html.DisplayFor(m => m.DateTime)</div>
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.IdNo)：</strong></div>
                <div class="col-md-4">@Html.DisplayFor(m => m.IdNo)</div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.PersonName)：</strong></div>
                <div class="col-md-4">@Html.DisplayFor(m => m.PersonName)</div>
                <div class="col-md-2 col-form-label text-md-end text-start">
                    @if (Model.Type == "B")
                    {
                        <strong>@Html.LabelFor(m => m.OriginalDocNo)：</strong>
                    }
                    else
                    {
                        <strong>
                            <span>原始編號：</span>
                        </strong>
                    }
                </div>
                <div class="col-md-4">@Html.DisplayFor(m => m.OriginalDocNo)</div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    @if (Model.Type == "B")
                    {
                        <strong>@Html.LabelFor(m => m.Name)：</strong>
                    }
                    else
                    {
                        <strong>文件名稱：</strong>
                    }
                </div>
                <div class="col-md-10">@Html.DisplayFor(m => m.Name)</div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    @if (Model.Type == "B")
                    {
                        <strong>@Html.LabelFor(m => m.Purpose)：</strong>
                    }
                    else
                    {
                        <strong>內容簡述：</strong>
                    }
                </div>
                <div class="col-md-10">@Html.DisplayFor(m => m.Purpose)</div>
            </div>
            <div class="row align-items-center my-3">
                @if (Model.Type == "B")
                {
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <strong>@Html.LabelFor(m => m.DocVer)：</strong>
                    </div>
                    <div class="col-md-4">@Html.DisplayFor(m => m.DocVer)</div>
                }
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.ProjectName)：</strong></div>
                <div class="col-md-@(Model.Type == "B" ? "4" : "10")">@Html.DisplayFor(m => m.ProjectName)</div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    @if (!Model.UnuseTime.HasValue)
                    {
                        <span class="text-danger fw-bold">*</span>
                    }
                    <strong>@Html.LabelFor(m => m.UnuseTime)：</strong>
                </div>
                <div class="col-md-4">

                    <input type="date" name="UnuseTime" class="form-control" @(Model.UnuseTime.HasValue ? "" : "required") value="@(Model.UnuseTime?.ToString("yyyy-MM-dd"))" max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                </div>
                <div class="col-md-2 col-form-label text-md-end text-start">
                    @if (!Model.UnuseTime.HasValue)
                    {
                        <span class="text-danger fw-bold">*</span>
                    }
                    <strong>@Html.LabelFor(m => m.RejectReason)：</strong>
                </div>
                <div class="col-md-4">
                    @{
                        var attrs = new Dictionary<string, object>
                                        {
                                        { "class", "form-control" },
                                        { "rows", "3" },
                                        { "placeholder", "請填寫" + Html.DisplayNameFor(m => m.RejectReason)},
                                        };


                        if (!Model.UnuseTime.HasValue)
                        {
                            attrs.Add("required", "required");
                        }
                    }

                    @Html.TextAreaFor(m => m.RejectReason, attrs)
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UnuseTimeModifyUser)：</strong></div>
                <div class="col-md-4">@Html.DisplayFor(model => model.UnuseTimeModifyUser.FullName)</div>
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.UnuseTimeModifyAt)：</strong></div>
                <div class="col-md-4">@Html.DisplayFor(m => m.UnuseTimeModifyAt)</div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-md-12 text-center">
                    @if (Model.UnuseTime.HasValue)
                    {
                        <p>*註：若註銷日期與註銷原因留空，則表示取消註銷。</p>
                    }
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;儲存
                    </button>
                    <button type="button" class="btn2 btn-secondary mt-2 col-6 col-md-3 mx-1 clear_btn" data-form="myFormDetail">
                        <i class="fas fa-eraser"></i>&ensp;清除
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(document).ready(function () {
            formClearInputListener();// 清除按鈕事件監聽
        });
    </script>
}