@model CustomerFeedbackSystem.Models.DocControlMaintable
@{
    ViewData["Title"] = "文件管制-編輯";
    Layout = "_NoNavWithDetailModalLayout";// 套用無Nav帶有詳細Modal的Layout
}
<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>
    <form method="post" id="CDocumentManageEditForm" action="@Url.Action("Edit", "CDocumentManage", new { IdNo = Model.IdNo})" target="_top">
        @Html.AntiForgeryToken()
        <div class="pop">
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.DateTime)：</strong></div>
                <div class="col-md-4">
                    <!-- 這邊用input是因為要給查詢樹js抓領用日期val() -->
                    <input type="date" id="DateTime" class="form-control-plaintext" value="@Model.DateTime?.ToString("yyyy-MM-dd")" disabled>

                </div>
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.IdNo)：</strong></div>
                <div class="col-md-4">@Html.DisplayFor(m => m.IdNo)</div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start"><span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.PersonName)：</strong></div>
                <div class="col-md-4">
                    @*領用人*@
                    @await Html.PartialAsync("_DocUserSelect", Model.Id)
                </div>
                <div class="col-md-2 col-form-label text-md-end text-start">

                    @if (Model.Type == "B")
                    {
                        <span class="text-danger fw-bold">*</span>
                        <strong>@Html.LabelFor(m => m.OriginalDocNo)：</strong>
                    }
                    else
                    {
                        <strong>
                            <span>原始編號：</span>
                        </strong>
                    }
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        @if (Model.Type == "B")
                        {
                            @Html.TextBoxFor(m => m.OriginalDocNo, new { @class = "form-control", @id = "txt_form_no", @required = "required" })
                            <a class="btn btn-sm btn-secondary doc_tree_search_btn" href='@Url.Action("Index", "Tree")'>
                                <i class="fas fa-project-diagram"></i>&ensp; 查詢
                            </a>
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.OriginalDocNo, new { @class = "form-control", @id = "txt_doc_no" })
                        }
                    </div>
                </div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span>
                    @if (Model.Type == "B")
                    {
                        <strong>@Html.LabelFor(m => m.Name)：</strong>
                    }
                    else
                    {
                        <strong>文件名稱：</strong>
                    }
                </div>
                <div class="col-md-10">@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "txt_form_name", @required = "required" })</div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span>
                    @if (Model.Type == "B")
                    {
                        <strong>@Html.LabelFor(m => m.Purpose)：</strong>
                    }
                    else
                    {
                        <strong>內容簡述：</strong>
                    }
                </div>
                <div class="col-md-10">@Html.TextAreaFor(m => m.Purpose, new { @class = "form-control", @row = "3", @required = "required" })</div>
            </div>
            <div class="row align-items-center my-3">
                @if (Model.Type == "B")
                {
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <span class="text-danger fw-bold">*</span>
                        <strong>@Html.LabelFor(m => m.DocVer)：</strong>
                    </div>
                    <div class="col-md-4">@Html.TextBoxFor(m => m.DocVer, new { @class = "form-control", @id = "txt_form_version", @required = "required" })</div>
                }
                <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.LabelFor(m => m.ProjectName)：</strong></div>
                <div class="col-md-@(Model.Type == "B" ? "4" : "10")">@Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control" })</div>
            </div>

            @if (Model.Type == "B")
            {
                <div class="row align-items-center my-3">
                    <div class="col-md-2 col-form-label text-md-end text-start"><strong>下載文件：</strong></div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" value="@(Model.RealFileName)" readonly />
                            <a class="btn btn-sm btn-primary" asp-controller="File" asp-action="GetClaimFileByAdmin" asp-route-IdNo="@Model.IdNo">
                                取得
                            </a>
                        </div>
                    </div>
                </div>
            }

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;儲存
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        docTreeDetailModalListener();// 表單樹按鈕事件監聽
        handlePasteListener();// 表單樹貼上事件監聽
    </script>
}