@model BioMedDocManager.Models.PurchaseRecord
<!-- 請購日期 & 請購人 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.RequestDate)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.RequestDate)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.Requester)：</strong>
    </div>
    <div class="col-md-4">
        @Model.RequesterUser?.FullName
    </div>
</div>

<!-- 請購編號 & 採購人 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.RequestNo)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.RequestNo)
    </div>

    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.Purchaser)：</strong>
    </div>
    <div class="col-md-4">
        @Model.PurchaserUser?.FullName
    </div>
</div>

<!-- 品項分類 & 供應商名稱 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ProductClass)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ProductClass) @Html.DisplayFor(m => m.ProductClassTitle)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.SupplierName)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.SupplierName)
    </div>
</div>

<!-- 產品名稱 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ProductName)：</strong>
    </div>
    <div class="col-md-10">
        <span class="text-pre-wrap">@Html.DisplayFor(m => m.ProductName)</span>
    </div>
</div>

<!-- 產品規格 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ProductSpec)：</strong>
    </div>
    <div class="col-md-10">
        <span class="text-pre-wrap">@Html.DisplayFor(m => m.ProductSpec)</span>
    </div>
</div>

<!-- 購買數量 & 產品總價 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ProductNumber)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ProductNumber)
    </div>

    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ProductPrice)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ProductPrice)
    </div>
</div>

<!-- 購買單位 & 保存期限 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ProductUnit)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ProductUnit)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.KeepTime)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.KeepTime)
    </div>
</div>

<!-- 品質協議 & 品質協議編號 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.QualityAgreement)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.QualityAgreement)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.QualityAgreementNo)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.QualityAgreementNo)
    </div>
</div>

<!-- 變更通知 & 變更通知編號 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ChangeNotification)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ChangeNotification)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ChangeNotificationNo)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ChangeNotificationNo)
    </div>
</div>