@model BioMedDocManager.Models.PurchaseRecord
<!-- 收貨人 & 收貨日期 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ReceivePerson)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.ReceivePersonUser.FullName)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.DeliveryDate)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.DeliveryDate)
    </div>
</div>

<!-- 驗收人 & 驗收日期 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.VerifyPerson)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.VerifyPersonUser.FullName)
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.VerifyDate)：</strong>
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(m => m.VerifyDate)
    </div>
</div>

<!-- 收貨驗收編號 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ReceiveNumber)：</strong>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.ReceiveNumber)
    </div>
</div>

<!-- 驗收備註 -->
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.Remarks)：</strong>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Remarks)
    </div>
</div>
