@model BioMedDocManager.Models.QualifiedSupplier
@{
    ViewData["Title"] = "供應商清冊-新增供應商";
    Layout = "_NoNavLayout";

}

<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>
    <form id="myFormDetail" asp-action="Create" asp-controller="PQualifiedSuppliers">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row align-items-center my-3">
            <label class="col-md-2 col-form-label text-md-end text-start">
                <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.SupplierName)：</strong>
            </label>
            <div class="col-md-4">
                <input asp-for="SupplierName" class="form-control" />
            </div>
            <div class="col-md-6"><!-- empty --></div>
        </div>

        <div class="row align-items-center my-3">
            <label class="col-md-2 col-form-label text-md-end text-start"
                   for="@nameof(Model.SupplierNo)"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-html="true"
                   data-bs-custom-class="tooltip-left"
                   title="統編為必填，若是院內單位亦請填寫02750963">
                <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.SupplierNo)：</strong>
            </label>
            <div class="col-md-4">
                <input asp-for="SupplierNo" class="form-control" />
            </div>
            <label class="col-md-2 col-form-label text-md-end text-start"
                   for="@nameof(Model.SupplierClass)"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-html="true"
                   data-bs-custom-class="tooltip-left"
                   title="僅「其他供應商」類別可直接新增供應商，其餘類別應照「初供評核」流程進行">
                <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.SupplierClass)：</strong>
            </label>
            <div class="col-md-4">
                @* 直接呼叫就好，選項寫在裡面了*@
                @await Html.PartialAsync("_PurchaseSupplierClassSelect", Model.SupplierClass)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <label class="col-md-2 col-form-label text-md-end text-start">
                <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.Tele)：</strong>
            </label>
            <div class="col-md-4">
                <input asp-for="Tele" class="form-control" />
            </div>

            <label class="col-md-2 col-form-label text-md-end text-start"
                   for="@nameof(Model.ProductClass)"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-html="true"
                   data-bs-custom-class="tooltip-left"
                   title="僅「其他供應商」類別可直接新增供應商，其餘類別應照「初供評核」流程進行">
                <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.ProductClass)：</strong>
            </label>
            <div class="col-md-4">
                @await Html.PartialAsync("_PurchaseProductClassSelect", Model.ProductClass)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Tele2)：</strong></label>
            <div class="col-md-4">
                <input asp-for="Tele2" class="form-control" />
            </div>
            <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Remarks)：</strong></label>
            <div class="col-md-4">
                <input asp-for="Remarks" class="form-control" />
            </div>
        </div>

        <div class="row align-items-center my-3">
            <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Fax)：</strong></label>
            <div class="col-md-4">
                <input asp-for="Fax" class="form-control" />
            </div>
            <label class="col-md-2 col-form-label text-md-end text-start">
                <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.Address)：</strong>
            </label>
            <div class="col-md-4">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>

        <div class="row align-items-center my-3">
            <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.SupplierInfo)：</strong></label>
            <div class="col-md-10">
                <textarea asp-for="SupplierInfo" class="form-control"></textarea>
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                    <i class="fas fa-check-circle me-1"></i>儲存
                </button>
                <button type="button" class="btn2 btn-secondary mt-2 col-6 col-md-3 mx-1 clear_btn" data-form="myFormDetail">
                    <i class="fas fa-eraser"></i>&ensp;清除
                </button>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">

        $(document).ready(function () {
            formClearInputListener();// 清除按鈕事件監聽
        });
    </script>
}