@model BioMedDocManager.Models.IssueTable
@{
    ViewData["Title"] = "表單查詢-檢視";
    Layout = "_NoNavLayout";//套用無Nav的Layout
}
<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-search me-2"></i>@ViewData["Title"]</h4>
    <div class="row align-items-center my-3">
        <div class="col-md-2 col-form-label text-md-end text-start">
            <strong>@Html.LabelFor(m => m.Name)：</strong>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(m => m.Name)
        </div>
        <div class="col-md-2 col-form-label text-md-end text-start">
            <strong>@Html.LabelFor(m => m.IssueDatetime)：</strong>
        </div>
        <div class="col-md-4">
            @Model.IssueDatetime?.ToString("yyyy-MM-dd")
        </div>
    </div>

    <div class="row align-items-center my-3">
        <div class="col-md-2 col-form-label text-md-end text-start">
            <strong>@Html.LabelFor(m => m.OriginalDocNo)：</strong>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(m => m.OriginalDocNo)
        </div>
        <div class="col-md-2 col-form-label text-md-end text-start">
            <strong>@Html.LabelFor(m => m.DocVer)：</strong>
        </div>
        <div class="col-md-4">
            @Html.DisplayFor(m => m.DocVer)
        </div>
    </div>

    <div class="row align-items-center my-3">
        <div class="col-md-2 col-form-label text-md-end text-start">
            <strong>下載表單：</strong>
        </div>
        <div class="col-md-10">
            <div class="input-group">
                <input type="text" class="form-control" readonly value="@(Model.RealFileName)" />
                <a class="btn btn-sm btn-primary" asp-controller="File" asp-action="GetFormFile" asp-route-OriginalDocNo="@Model.OriginalDocNo" asp-route-DocVer="@Model.DocVer">
                    取得
                </a>
            </div>
        </div>
    </div>
</div>