@model CustomerFeedbackSystem.Models.ChangePasswordModel
@{
    ViewData["Title"] = "變更密碼";
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <form class="PasswordForm" asp-action="ChangePassword" method="post">
        @Html.AntiForgeryToken()
        <div class="pop">
            <div class="row align-items-center my-3">

                <!-- 使用者名稱 -->
                <div class="row align-items-center my-3">
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <strong>@Html.LabelFor(m => m.FullName)：</strong>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="FullName" class="form-control" type="text" readonly="readonly" />
                    </div>
                </div>

                <!-- 使用者帳號 -->
                <div class="row align-items-center my-3">
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <strong>@Html.LabelFor(m => m.UserName)：</strong>
                    </div>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control" type="text" readonly="readonly" />
                    </div>
                </div>

                <!-- 原密碼 -->
                <div class="row align-items-center my-3">
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.CurrentPassword)：</strong>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input asp-for="CurrentPassword" class="form-control" type="password" required="required" />
                            <button class="btn btn-outline-secondary togglePasswordButton" data-id="CurrentPassword" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>

                <!-- 新密碼 -->
                <div class="row align-items-center my-3">
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.NewPassword)：</strong>
                    </div>
                    <div class="col-md-10">
                        <span class="text-12 fw-bold">*密碼長度至少需8個字元</span>
                        <div class="input-group">
                            <input asp-for="NewPassword" class="form-control" type="password" required="required" />
                            <button class="btn btn-outline-secondary togglePasswordButton" data-id="NewPassword" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <!-- 確認新密碼 -->
                <div class="row align-items-center my-3">
                    <div class="col-md-2 col-form-label text-md-end text-start">
                        <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.ConfirmPassword)：</strong>
                    </div>
                    <div class="col-md-10">
                        <span class="text-12 fw-bold">*密碼長度至少需8個字元</span>
                        <div class="input-group">
                            <input asp-for="ConfirmPassword" class="form-control" type="password" required="required" />
                            <button class="btn btn-outline-secondary togglePasswordButton" data-id="ConfirmPassword" type="button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <span id="ConfirmPasswordValidation" asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="row align-items-center my-3">
                <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;儲存
                    </button>
                </div>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="row align-items-center my-3">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="alert alert-success">訊息：@ViewBag.Message</div>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(function () {
            CheckConfirmPassword('New');// New表示欄位名稱是新密碼
            passwordVisibilityListener();// 變更密碼頁-密碼顯示按鈕事件監聽
        });
    </script>
}