@model CustomerFeedbackSystem.Models.PurchaseRecord
<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.AssessDate)：</strong></div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.AssessDate)</span>
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.QualityLabel)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.QualityLabel)</span>
    </div>
</div>

<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.PriceLabel)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.PriceLabel)</span>
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.SpecLabel)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.SpecLabel)</span>
    </div>
</div>

<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.DeliveryLabel)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.DeliveryLabel)</span>
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.ServiceLabel)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.ServiceLabel)</span>
    </div>
</div>

<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.AssessResultLabel)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.AssessResultLabel)</span>
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Grade)：</strong></div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.Grade)</span>
    </div>
</div>

<div class="row align-items-center my-3">
    <div class="col-md-2 col-form-label text-md-end text-start">
        <strong>@Html.DisplayNameFor(m => m.AssessmentNo)：</strong>
    </div>
    <div class="col-md-4">
        <span class="form-control-plaintext">@Html.DisplayFor(m => m.AssessmentNo)</span>
    </div>
    <div class="col-md-2 col-form-label text-md-end text-start"></div>
    <div class="col-md-4"></div>
</div>