@model string? // 傳入目前選擇的品項分類值
@{
    var PurchaseProductClass = ViewData["PurchaseProductClass"] as List<ProductClass> ?? new List<ProductClass>();

    var isRequired = ViewData["PurchaseProductClassIsRequired"] as bool? ?? false;// 欄位是否必填
    var isShowOther = ViewData["PurchaseProductClassIsShowOther"] as bool? ?? false;// 是否只顯示其他欄位

    var groupedClasses = (isShowOther
        ? PurchaseProductClass.Where(pc => pc.SupplierClass == "其他供應商")
        : PurchaseProductClass)
    .GroupBy(pc => pc.SupplierClass)
    .OrderBy(g => g.Key)
    .ToList();
}

<select class="form-select" id="ProductClass" name="ProductClass" @(isRequired ? "required" : "")>
    <option value="">請選擇</option>
    @foreach (var group in groupedClasses)
    {
        <optgroup label="@group.Key">
            @foreach (var prodClass in group.OrderBy(pc => pc.ProductClassTitle.Contains("停用")).ThenBy(pc => pc.ProductClass1))
            {
                var isSelected = Model?.Trim() == prodClass.ProductClass1;
                <option value="@prodClass.ProductClass1" data-product-class="@prodClass.ProductClass1" selected="@(isSelected ? "selected" : null)">
                    @prodClass.ProductClass1 @prodClass.ProductClassTitle
                </option>
            }
        </optgroup>
    }
</select>
