@model CustomerFeedbackSystem.Models.QualifiedSupplier
@* Row 1 *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.ProductClass)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.ProductClass)</div>
    </div>
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Supplier1stAssessDate)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.Supplier1stAssessDate)</div>
    </div>
</div>

@* Row 2 *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.SupplierName)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.SupplierName)</div>
    </div>
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.ReassessDate)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.ReassessDate)</div>
    </div>
</div>

@* Row 3 *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.SupplierNo)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.SupplierNo)</div>
    </div>
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.SupplierClass)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.SupplierClass)</div>
    </div>
</div>

@* Row 4 *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Tele)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.Tele)</div>
    </div>
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.ProductClassTitle)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.ProductClass) @Html.DisplayFor(m => m.ProductClassTitle)</div>
    </div>
</div>

@* Row 5 *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Tele2)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.Tele2)</div>
    </div>
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Remarks)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.Remarks)</div>
    </div>
</div>

@* Row 6 *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Fax)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.Fax)</div>
    </div>
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.Address)：</strong></label>
    <div class="col-md-4">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.Address)</div>
    </div>
</div>

@* Row 7 (Full width for long field) *@
<div class="row align-items-center my-3">
    <label class="col-md-2 col-form-label text-md-end text-start"><strong>@Html.DisplayNameFor(m => m.SupplierInfo)：</strong></label>
    <div class="col-md-10">
        <div class="form-control-plaintext">@Html.DisplayFor(m => m.SupplierInfo)</div>
    </div>
</div>