@model CustomerFeedbackSystem.Models.PurchaseRecord
@{
    Layout = "_NoNavWithDetailModalLayout";// 套用無Nav帶有詳細Modal的Layout
    var message = TempData["alert_danger"]?.ToString();
}

<div class="m-4">
    <h4 class="mt-3 px-2"><i class="bi bi-search me-2"></i>請購紀錄</h4>
    <form id="myFormDetail" method="post" action="@Url.Action("Verify", "PAcceptance", new { id = Model.RequestNo })">
        @Html.AntiForgeryToken()

        @* 請購詳細資料 *@
        @await Html.PartialAsync("_PurchaseDetail", Model)

        <hr class="my-4" />

        <h4 class="mt-3 px-2"><i class="bi bi-pencil-square me-2"></i>驗收紀錄</h4>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }

        <div class="pop return_order">
            <!-- 收貨人 & 收貨日期 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span>
                    <strong>@Html.DisplayNameFor(m => m.ReceivePerson)：</strong>
                </div>
                <div class="col-md-4">
                    @* 收貨人 *@
                    @await Html.PartialAsync("_PurchaseReceivePersonSelect", Model.ReceivePerson)
                </div>
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span>
                    <strong>@Html.DisplayNameFor(m => m.DeliveryDate)：</strong>
                </div>
                <div class="col-md-4">
                    <strong><input asp-for="DeliveryDate" type="date" class="form-control" required max='@DateTime.Today.ToString("yyyy-MM-dd")' /></strong>
                </div>
            </div>

            <!-- 驗收人 & 驗收日期 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span>
                    <strong>@Html.DisplayNameFor(m => m.VerifyPerson)：</strong>
                </div>
                <div class="col-md-4">
                    @* 驗收人 *@
                    @await Html.PartialAsync("_PurchaseVerifyPersonSelect", Model.VerifyPerson)
                </div>
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span>
                    <strong>@Html.DisplayNameFor(m => m.VerifyDate)：</strong>
                </div>
                <div class="col-md-4">
                    <input asp-for="VerifyDate" type="date" class="form-control" required max='@DateTime.Today.ToString("yyyy-MM-dd")' />
                </div>
            </div>

            <!-- 收貨驗收編號 -->
            <div class="row align-items-center my-3">
                <label class="col-md-2 col-form-label text-md-end text-start" for="@nameof(Model.RequestNo)">
                    <span class="text-danger fw-bold">*</span>
                    <strong>@Html.DisplayNameFor(m => m.ReceiveNumber)：</strong>
                </label>
                <div class="col-md-4 d-flex align-items-center">
                    <input id="@nameof(Model.ReceiveNumber)" asp-for="ReceiveNumber" class="form-control" required readonly />
                    <a href="@Url.Action("DocSearchModal", "PAcceptance")"
                       target="_blank"
                       class="docSearch btn btn-outline-secondary"
                       aria-label="開啟收貨驗收文件編號查詢">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>

            <!-- 驗收備註 -->
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <strong>@Html.DisplayNameFor(m => m.Remarks)：</strong>
                </div>
                <div class="col-md-10">
                    <textarea asp-for="Remarks" class="form-control" rows="3"></textarea>
                </div>
            </div>

            <!-- 按鈕區塊 -->
            <div class="row align-items-center my-3">
                <div class="col-md-12 d-flex justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1 btn-verify">
                        <i class="fas fa-check-circle me-1"></i>確認驗收
                    </button>
                    <button type="button" class="btn2 btn-secondary mt-2 col-6 col-md-3 mx-1 clear_btn" data-form="myFormDetail">
                        <i class="fas fa-eraser"></i>&ensp;清除
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(document).ready(function () {
            $('.btn-verify').on('click', function (e) {
                if (!confirm('請確認是否驗收?')) {
                    e.preventDefault(); // 阻止送出
                }
            });

            formClearInputListener();// 清除按鈕事件監聽
            docSearchBtnDetailModalListener();// 收貨驗收編號查詢事件監聽
        });
    </script>
}