@using CustomerFeedbackSystem.Models
@model ProductClass
@{
    Layout = "_NoNavLayout";
    ViewData["Title"] = "品項選單維護-新增";
    var productClassList = ViewBag.ProductClassList as List<ProductClass> ?? new List<ProductClass>();
}

<div class="m-4">
    <form id="myFormDetail" method="post">
        @Html.AntiForgeryToken()
        <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>

        <div class="row align-items-center my-3">
            <label class="col-sm-2 col-form-label text-md-end text-start" for="@nameof(Model.ProductClass1)">
                <strong>@Html.DisplayNameFor(m => Model.ProductClass1)：</strong>
            </label>
            <div class="col-sm-10">
                <select id="@nameof(Model.ProductClass1)" name="@nameof(Model.ProductClass1)" class="form-select" required>
                    <option selected hidden disabled>請選擇</option>
                    @foreach (var item in productClassList)
                    {
                        <option value="@item.ProductClass1" data-supplier="@item.SupplierClass">
                            @item.SupplierClass - @item.ProductClass1
                        </option>
                    }
                </select>
                <small id="productClassTitleHelp" class="form-text text-muted">
                    系統已自動列出每個品項分類的下一組流水號
                </small>
            </div>
        </div>
        <div class="row align-items-center my-3">
            <label class="col-sm-2 col-form-label text-md-end text-start" for="@nameof(Model.ProductClassTitle)">
                <strong>@Html.DisplayNameFor(m => Model.ProductClassTitle)：</strong>
            </label>
            <div class="col-sm-10">
                <input type="text" id="@nameof(Model.ProductClassTitle)" name="@nameof(Model.ProductClassTitle)" value="@Model.ProductClassTitle" class="form-control" aria-describedby="productClassTitleHelp" placeholder="如：器材，醫才，設備..." required />
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-sm-2 col-form-label text-md-end text-start">
                <strong>備註：</strong>
            </div>
            <div class="col-sm-10">
                若品項名稱包含「<span class="text-danger">停用</span>」二字，則於所有採購系統中的「新增」功能會隱藏該品項選項；
                <br />
                各頁面查詢條件不影響，仍會顯示所有選項。
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-12 d-flex flex-wrap align-items-center justify-content-center">
                <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1" id="submitBtn" formaction="@Url.Action("Create")">
                    <i class="fas fa-check-circle me-1"></i> 新增品項
                </button>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">

    </script>
}