@model BioMedDocManager.Models.DocControlMaintable
@{
    ViewData["Title"] = "文件註銷-註銷作業";
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>@ViewData["Title"]</h4>
    <form id="myFormDetail" method="post" action="@Url.Action("Cancel", "CDocumentCancel", new { id = Model.IdNo })" target="_top">
        @Html.AntiForgeryToken()
        <div class="pop">
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <strong>@Html.LabelFor(m => m.IdNo)：</strong>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.IdNo)
                </div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <strong>@Html.LabelFor(m => m.Name)：</strong>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Name)
                </div>
            </div>
            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.UnuseTime)：</strong>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UnuseTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @required = "required", @max = DateTime.Today.ToString("yyyy-MM-dd") })
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <span class="text-danger fw-bold">*</span><strong>@Html.LabelFor(m => m.RejectReason)：</strong>
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.RejectReason, new { @class = "form-control", rows = 3, @required = "required", @placeholder = "請填寫" + Html.DisplayNameFor(m => m.RejectReason) })
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;註銷
                    </button>
                    <button type="button" class="btn2 btn-secondary mt-2 col-6 col-md-3 mx-1 clear_btn" data-form="myFormDetail">
                        <i class="fas fa-eraser"></i>&ensp;清除
                    </button>
                </div>
            </div>


        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(document).ready(function () {
            formClearInputListener();// 清除按鈕事件監聽
        });
    </script>
}