@model BioMedDocManager.Models.Supplier1stAssess
@{
    Layout = "_NoNavWithDetailModalLayout";

    var qualifiedSuppliers = ViewData["qualifiedSuppliers"] as QualifiedSupplier ?? new QualifiedSupplier();

    var message = ViewData["FirstAssessMessage"] as string ?? "";

    string alertClass = message.Contains("尚未") ? "alert-warning" : "alert-info";
    string iconClass = message.Contains("尚未") ? "fa-exclamation-triangle" : "fa-info-circle";

}

<div class="m-4">
    <form id="myFormDetail" method="post" action="@Url.Action("Edit", new { AssessDateString = Model.AssessDate.Value.ToString("yyyy-MM-dd"), SupplierName = qualifiedSuppliers.SupplierName, ProductClass = qualifiedSuppliers.ProductClass })">
        @Html.AntiForgeryToken()

        <!-- 供應商資訊 -->
        <h4 class="m-3 px-2"><i class="bi bi-search me-2"></i>供應商資訊</h4>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.SupplierName)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.SupplierName)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.SupplierInfo)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.SupplierInfo)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.ProductClass)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.ProductClass)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.SupplierNo)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.SupplierNo)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.SupplierClass)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.SupplierClass)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.Remarks)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.Remarks)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.Tele)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.Tele)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.Tele2)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.Tele2)
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.Fax)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.Fax)
            </div>
            <div class="col-md-2 col-form-label text-md-end text-start">
                <strong>@Html.DisplayNameFor(m => qualifiedSuppliers.Address)：</strong>
            </div>
            <div class="col-md-4">
                @Html.DisplayFor(m => qualifiedSuppliers.Address)
            </div>
        </div>

        <!-- 初次評核基本資料 -->
        <div class="border-top mt-4 pt-3">

            <h4 class="m-3 px-2"><i class="bi bi-pencil-square me-2"></i>初次評核</h4>

            <div class="row align-items-center my-3">
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <strong>@Html.DisplayNameFor(m => m.AssessPeople)：</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.AssessPeopleUser.FullName)
                </div>
                <div class="col-md-2 col-form-label text-md-end text-start">
                    <strong>@Html.DisplayNameFor(m => m.AssessDate)：</strong>
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(m => m.AssessDate)
                </div>
            </div>

            <div class="row align-items-center mb-3">
                <label class="col-md-2 col-form-label text-md-end text-start" for="@nameof(Model.Visit)">
                    <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.Visit)：</strong>
                </label>
                <div class="col-sm-4">
                    <select class="form-select" id="@nameof(Model.Visit)" name="@nameof(Model.Visit)" required>
                        <option value="" disabled selected hidden>請選擇...</option>

                        @foreach (var opt in Supplier1stAssess.VisitOptions)
                        {
                            <option value="@opt" selected="@(Model.SelectedVisit == opt ? "selected" : null)">@opt</option>
                        }
                    </select>
                    <input type="text" class="form-control" id="@nameof(Model.VisitOther)" name="@nameof(Model.VisitOther)" placeholder="其他..." value="@(Model.SelectedVisit == "其他" ? Model.VisitOther : "")">
                </div>

                <label for="@nameof(Model.AssessResult)"
                       class="col-md-2 col-form-label text-md-end text-start"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-custom-class="tooltip-left"
                       title="若初次供應商之評核不合格，則要求該供應商進行改善後重新評核，需重新填寫「初次供應商評核表(BMP-QP21-TR002)」進行評核，若重新評核後通過需於「改善狀況」欄說明，經行政部主管確認重新評核結果，若重評後仍不合格，則另尋供應商。">
                    <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.AssessResult)：</strong>
                </label>
                <div class="col-sm-4">
                    <select class="form-select" id="@nameof(Model.AssessResult)" name="@nameof(Model.AssessResult)" required>
                        <option value="" disabled selected hidden>請選擇...</option>
                        <option value="合格" selected=@(Model.AssessResult == "合格" ? "selected" : null)>合格</option>
                        <option value="不合格" selected=@(Model.AssessResult == "不合格" ? "selected" : null)>不合格</option>
                        <option value="改善後合格" selected=@(Model.AssessResult == "改善後合格" ? "selected" : null)>改善後合格</option>
                    </select>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label class="col-md-2 col-form-label text-md-end text-start" for="@nameof(Model.Reason)">
                    <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.Reason)：</strong>
                </label>
                <div class="col-md-4">
                    <textarea class="form-control" id="@nameof(Model.Reason)" name="@nameof(Model.Reason)" rows="3" placeholder="@Html.DisplayNameFor(m => m.Reason)" required>@Model.Reason</textarea>
                </div>

                <label class="col-md-2 col-form-label text-md-end text-start" for="@nameof(Model.Improvement)">
                    <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.Improvement)：</strong>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="@nameof(Model.Improvement)" name="@nameof(Model.Improvement)"
                           placeholder="@Html.DisplayNameFor(m => m.Improvement)" value="@Model.Improvement">
                    <span id="@nameof(Model.Improvement)PlainText" class="form-text text-muted">無須填寫</span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label for="@nameof(Model.RiskLevel)"
                       class="col-md-2 col-form-label text-md-end text-start"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-custom-class="tooltip-left"
                       title="<ul><li><b>高風險：</b>供應品對生產環境、製造流程及產品最終品質等具有直接且重大影響的供應品。</li><li><b>中風險：</b>供應品對生產環境、製造流程及產品最終品質等具有影響但對供應品的最終品質無直接關聯，屬於間接影響之供應品項。</li><li><b>低風險：</b>供應品對生產環境、製造流程及產品最終品質等有些微或無顯著影響之供應品。</li></ul>">
                    <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.RiskLevel)：</strong>
                </label>
                <div class="col-sm-4">
                    <select id="@nameof(Model.RiskLevel)" name="@nameof(Model.RiskLevel)" class="form-select" required>
                        <option value="" selected="@(string.IsNullOrEmpty(Model.RiskLevel) ? "selected" : null)">請選擇</option>
                        <option value="高" selected="@(Model.RiskLevel == "N/A" ? "selected" : null)">N/A</option>
                        <option value="高" selected="@(Model.RiskLevel == "高" ? "selected" : null)">高</option>
                        <option value="中" selected="@(Model.RiskLevel == "中" ? "selected" : null)">中</option>
                        <option value="低" selected="@(Model.RiskLevel == "低" ? "selected" : null)">低</option>
                    </select>
                    <div class="form-text text-muted">N/A表示舊資料，尚未設定數值</div>
                </div>

                <label class="col-md-2 col-form-label text-md-end text-start" for="@nameof(Model.Remarks1)">
                    <strong>@Html.DisplayNameFor(m => m.Remarks1)：</strong>
                </label>
                <div class="col-sm-4">
                    <div class="form-control-plaintext">
                        <textarea class="form-control" id="@nameof(Model.Remarks1)" name="@nameof(Model.Remarks1)" rows="3">@Model.Remarks1</textarea>
                    </div>
                </div>
            </div>

            <!-- Row E：初供評核編號 / 空 -->
            <div class="row align-items-center my-3">

                <label class="col-md-2 col-form-label text-md-end text-start" for="@nameof(Model.Supplier1stAssessNo)">
                    <strong><span class="text-danger fw-bold">*</span>@Html.DisplayNameFor(m => m.Supplier1stAssessNo)：</strong>
                </label>
                <div class="col-sm-4 d-flex align-items-center">
                    <input asp-for="Supplier1stAssessNo" class="form-control" required readonly placeholder="請點選右側「查詢」按鈕" />
                    <a href="@Url.Action("DocSearchModal", "PSupplier1stAssess")"
                       target="_blank"
                       class="docSearch btn btn-outline-secondary"
                       aria-label="開啟初供評核編號查詢">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-center my-3">
            <div class="col-md-12 d-flex justify-content-center">
                @*填寫提交初次評核*@
                <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                    <i class="fas fa-check-circle me-1"></i> 評核確認
                </button>

            </div>
        </div>

    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
        $(document).ready(function() {
            // 初始載入檢查：評估項目
            toggleVisitOther();

            docSearchBtnDetailModalListener();     // 初供評核文件編號查詢事件監聽

            // 綁定事件：評估項目選擇「其他」時，顯示其他空白input
            $("#Visit").on("change", function () {
                toggleVisitOther();
            });

            // 初始載入檢查：評估結果
            toggleImprovement();

            // 綁定事件：評估結果選擇「改善後合格」時，顯示改善狀況空白input
            $("#AssessResult").on("change", toggleImprovement);

            // 補驗證初供評核編號
            $("#myFormDetail").on('submit', function (e) {
                let Supplier1stAssessNo = $("#Supplier1stAssessNo").val();
                if (Supplier1stAssessNo=="") {
                    e.preventDefault(); // 取消表單送出
                    alert("請先點選右側查詢按鈕，帶入初供評核編號");
                }
            });


        });
    </script>
}